/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Hanalei', cursive; */

/* Header */

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 20px;
}

/* Player selection area */

#player-sel {
    font-size: 24px;
}

#username {
    margin-right: 5px;
}

#start-btn {
    border-radius: 5px;
}


/* Game division */

#player1, #result, #player2 {
    position: relative;
    display: inline-block;

    /* actual box */
    width: 20%;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;

    margin: 2%;

    text-align: center;
    vertical-align: top;

    border: 1px solid #001;
}

#player1-name, #player2-name {
    margin-bottom: 10px;
    font-size: 24px;
}

#player1-chosen, #player2-chosen {
    margin: 25px;
    font-size: 50px;
}

ul {
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 30px;
}

li {
    /* margin: 4px 0; */
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    list-style-position: unset;
}

#outcomes {
    position: absolute;
    bottom: 10px;
    width: 90%;
    text-align: center;
}

#outcome-trackers {
    display: inline-block;
}

#result h2 {
    margin-top: 20px;
    font-size: 50px;
}

/* Chat */

#chat {
    position: relative;

    width: 700px;
    height: 150px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #001;
}

#chat-messages {
    height: 125px;
    width: inherit;
    overflow: auto;
    /* background-color: rgb(12, 236, 236); */
    /* border: 1px solid #001; */
}

#chat-bar {
    /* position: absolute; */
    margin-top: 20px;
    bottom: 10px;
}

#chat-input {
    width: 350px;
    height: 37px;
    vertical-align: middle;
}